<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Document</title>
</head>
<body>
    {% if message %}
        <div class="message" id="message">
            <h1> {{message}} </h1>
        </div>
    {%endif%}

    {% if isNewUser == True %}
    <!-- NEW USER FORM -->
        <div class="new-user-form">
            <h1> New user detected </h1>

            <form action="{{ url_for('new_user')}}" method="post">
                <input type="text" name="badge-num" class="hidden-field" value="{{badge_id}}">
                <input type="text" name="full-name" placeholder="Full Name">
                <label for="department">Choose department: </label>
                <select id="department" name="department">
                    <option value="Finance">Finance</option>
                    <option value="HR">HR</option>
                    <option value="IT">IT</option>
                </select>
                <input type="submit">
            </form>
        </div>
    
    {% else %}
    <!-- SCAN BADGE FORM -->
        <div class="main-form">
            <h1> Scan Badge... </h1>

            <form action="{{ url_for('scan_badge') }}" method="post">
                <input onblur="this.focus()" class="badge-input-field" type="text" id="badge-num" name="badge-num" autofocus>
                <input class="submit-button" type="submit">
            </form>

            <form class="export-button" action="/export/checkins" method="POST">
                <h2> Select date range to export: </h2>

                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" required>

                <label for="start_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" required>

                <button type="submit"> EXPORT </button>
            </form>
        </div>

    {% endif %}




    <script>

        document.addEventListener("DOMContentLoaded", function() {
            focusOnInput();
        })


        function focusOnInput() {
            var field = document.getElementById("badge-num");
            field.focus();
            setTimeout(function () { field.focus(); }, 1);
        }

        setTimeout(function() {
            const msg = document.getElementById("message");
            if (msg) {
                msg.style.display = 'none';
            }
        }, 2000)
    </script>
    
</body>
</html>
